# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
reports/
product/storage/
product/.vayne-next/
product/frontend/.next/
tests/_output/
venv/
.env
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.log

# Docker
pgdata/

# IDE
.idea/
.vscode/
